.c-Header {
    position: absolute;
    padding: 1rem;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    z-index: 1;
}

.c-Header__title {
    font-size: 1em;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.166667em;
    color: $teal;
}