{% extends "layout.html" %}

{% block content %}
<header class="c-Header">
  <h1>
    Juanita and James
  </h1>
</header>
<div class="c-HighlightBoard c-HighlightBoard--has-image sls-u-mbm">
  <div class="c-HighlightBoard__overlay"></div>
  <img class="c-HighlightBoard__image" src="http://via.placeholder.com/2000x750" />
  <div class="c-HighlightBoard__content c-HighlightBoard__content--light">
    <div class="sls-u-mbl">
      <h1 class="sls-u-mbs">WE'RE GETTING MARRIED</h1>
      <h3 class="sls-u-mbm">January 9, 2019 / Cancun / Mexico</h3>
              <button class="">
          RSVP
        </button>
    </div>
  </div>
</div>
{% endblock %}