{% extends "layout.html" %}

{% block content %}
<header class="c-Header">
  <h1 class="c-Header__title">
    Juanita and James
  </h1>
</header>
<div class="c-HighlightBoard c-HighlightBoard--has-image">
  <div class="c-HighlightBoard__overlay"></div>
  <img class="c-HighlightBoard__image" src="http://via.placeholder.com/2000x750" />
  <div class="c-HighlightBoard__content c-HighlightBoard__content--light">
    <div class="sls-u-mbl">
      <h1 class="sls-u-mbs c-HighlightBoard__title">WE'RE GETTING MARRIED</h1>
      <h3 class="sls-u-mbs b-TypeInverse">January 9, 2019 / Cancun / Mexico</h3>
      <button class="">
          RSVP
        </button>
    </div>
  </div>
</div>
<div class="o-Wrapper">
  <h1 class="b-TypeCenter sls-u-mbs">LET'S PARTY</h1>
  <h2 class="b-TypeCenter sls-u-mbs">THE BIG DAY IS ALMOST HERE</h2>
  <p>
    We've pretty much figured out everything we need to, and now we're just handing off all our planning responsibilities to our travel agent. If you have any questions in the meantime, you can just email Juanita.
  </p>
</div>
<div class="c-HighlightBoard c-HighlightBoard--has-image">
  <div class="c-HighlightBoard__overlay"></div>
  <img class="c-HighlightBoard__image" src="../images/ruipalace.jpg" />
  <div class="c-HighlightBoard__content c-HighlightBoard__content--light">
    <div class="sls-u-mbl">
      <h3 class="sls-u-mbs b-TypeInverse">Save the date</h3>
      <h1 class="sls-u-mbs c-HighlightBoard__title">January 9, 2019</h1>
    </div>
  </div>
</div>
<div class="o-Wrapper">
  <h1 class="b-TypeCenter sls-u-mbs">WEDDING DETAILS</h1>
  <p>
    We've pretty much figured out everything we need to, and now we're just handing off all our planning responsibilities to our travel agent. If you have any questions in the meantime, you can just email Juanita.
  </p>
</div>
{% endblock %}