{% extends "layout.html" %}

{% block content %}
<header class="c-Header">
  <h1 class="c-Header__title">
    <a href="/" class="b-Link">Juanita and James</a> 
  </h1>
</header>
<div class="c-HighlightBoard c-HighlightBoard--has-image">
  <div class="c-HighlightBoard__overlay"></div>
  <img class="c-HighlightBoard__image" src="http://via.placeholder.com/2000x750" />
  <div class="c-HighlightBoard__content c-HighlightBoard__content--light">
    <div class="sls-u-mbl">
      <h1 class="sls-u-mbs c-HighlightBoard__title">WE'RE GETTING MARRIED</h1>
      <h3 class="sls-u-mbs b-TypeInverse">January 9, 2019 / Cancun / Mexico</h3>
      <button class="c-Button">
          RSVP
      </button>
    </div>
  </div>
</div>
<div class="o-Wrapper">
  <h1 class="b-TypeCenter sls-u-mbs">LET'S PARTY</h1>
  <h2 class="b-TypeCenter sls-u-mbs">THE BIG DAY IS ALMOST HERE</h2>
  <p>
    We've pretty much figured out everything we need to, and now we're just handing off all our planning responsibilities to our travel agent. If you have any questions in the meantime, you can just email Juanita.
  </p>
</div>
<div class="c-HighlightBoard c-HighlightBoard--has-image">
  <div class="c-HighlightBoard__overlay"></div>
  <img class="c-HighlightBoard__image" src="../images/ruipalace.jpg" />
  <div class="c-HighlightBoard__content c-HighlightBoard__content--light">
    <div class="sls-u-mbl">
      <h3 class="sls-u-mbs b-TypeInverse">Save the date</h3>
      <h1 class="sls-u-mbs c-HighlightBoard__title">January 9, 2019</h1>
    </div>
  </div>
</div>
<div class="o-Wrapper">
  <h1 class="b-TypeCenter sls-u-mbs">WEDDING DETAILS</h1>
  <p>
    We'll be having our ceremony and reception at the <a class="b-Link" href="https://www.riu.com/en/hotel/mexico/cancun/hotel-riu-palace-peninsula/" target="_blank">Rui Palace Peninsula</a> in Cancun, Mexico.
    You can book your flight and hotel through...
    When we return we will have a separate reception for those that can't celebrate with us in Mexico!
  </p>

  <div class="b-TypeCenter">
    <h2>CEREMONY</h2>
    <p class="sls-u-mbn">3:00 pm - 3:30 pm</p>
    <p>Grass</p>

    <h2>RECEPTION</h2>
    <p class="sls-u-mbn">3:30 pm - 11:00 pm</p>
    <p class="sls-u-mbn">Grass/Diner</p>
  </div>
</div>
<div class="u-BackgroundGray">
  <div class="o-Wrapper">
    <h1 class="sls-u-mbm b-TypeCenter">LODGING</h1>
    <p>
      Rui Peninsula Palace
    </p>
    <p>
      The hotel offers many different dining restaurants and buffets. Room service is also available 24 hours daily.
      There are a variety of cocktail lounges and bars for you to enjoy!
    </p>

    <h1 class="sls-u-mbm b-TypeCenter">Flights</h1>
    <p>
      Delta
    </p>
    <p>
      The hotel offers many different dining restaurants and buffets. Room service is also available 24 hours daily.
      There are a variety of cocktail lounges and bars for you to enjoy!
    </p>
    <div class="b-TypeCenter">
        <a href="www.riddellwedding.com" class="b-Link--plain c-Button c-Button--teal">Book now!</a>
    </div>
  </div>
  <div class="o-Wrapper o-Wrapper--wide">
    <hr>
    <h3 class="sls-u-mbm b-TypeCenter">OTHER LODGING OPTIONS</h3>
    <p>not sure if we need this or not....</p>
  </div>
</div>
{% endblock %}